.container {
    padding: 0px 40px;
    min-height: 85vh;
}

h1 {
    font-weight: 300;
}
h2, h3 {
    font-weight: 200;
}
a {
    text-decoration: none;
}

footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0, .1);
}

#hero {
    height: 80vh;
    width: 100%;
    background-image: url('../../styles/images/districts.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

video {
    box-shadow: 0px 2px 2px rgba(0,0,0,.64);
    margin: 5px 0px;
}

.profileImage{
    width: 100%;
}


.list-group{
    border: 1px solid rgba(0, 0, 0, .24);
    margin-bottom: 10px;
}
.md-subheader-inner{
    border-bottom: 1px solid rgba(0,0,0,.2)
}

table{
    width: 100%;
    text-align: left;
    padding: 10px;    
    border-collapse: collapse;
    border-spacing: 0;
}

td{
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0px 0px;
}
