/* COLOR SCHEME USED */
/* Blue: #3993DD */
/* Red: #c1181f */

body {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 700px;
    font-size: 14px;
}

img {
    border-radius: 3px;
    width:100%;
}

.party-D {
    border-top: 5px solid #3993DD;
}

.party-R {
    border-top: 5px solid #c1181f;
}
.container {
    padding: 0px 10px;
}

.padded {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-bar {
    list-style: none;
    padding: 0px;
    font-size:16px;
}

.nav-right {
    float: right;
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    padding: 10px 15px;
}

.nav-item img {
    max-width: 50px;
    vertical-align: middle;
}

h1 {
    font-weight: 500;
}
h2 {
    font-weight: 300;
    margin: 0px;
}

h3, h4, h5, h6 {
    font-weight: 200;
    margin: 0px;
}

p, span {
    margin: 0px 0px;
}

a{
    text-decoration: none;
    color: rgb(44, 107, 155);
}

a:visited {
    color:rgb(44, 107, 155);
}


video {
    border: 1px solid rgba(0, 0, 0, .24);   
    margin: 5px 0px;
}

.profileImage{
    width: 100%;
    max-width: 300px;
}


.list-group{
    list-style: none;
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 5px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.list-item {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0px;
}

table{
    width: 100%;
    text-align: left;
    padding: 10px;    
    border-collapse: collapse;
    border-spacing: 0;
}

td{
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0px 0px;
}

.vote-list{
    padding:5px;
}


.commentContainer{
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px 0px;
    border-top: 5px solid rgba(0,0,0,.64);
}

.comment-list{
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 5px 0px;
}

.commentProfileImage{
    width:50px;
}

.comment-video{
    max-width: 300px;
    border-radius: 3px;
}

.comment-content{
    padding: 5px;
}

.comment-button-bar {
    padding: 5px;
    background-color: rgba(0,0,0,.05);
    min-height:30px;
}

.home-map path:hover{
    fill: rgba(0,0,0,0.44);
    stroke: rgba(0,0,0,0.44);
    cursor: pointer;
    transition: all .3s;
}

textarea{
    width:95%;
    max-width: 95%;
    border: 1px solid rgba(0,0,0,.1);
    resize: none
}

.searchResultsContainer{
    position: fixed;
    background-color: #FFFFFF;
    top:0;
    right: 0;
    box-shadow: -1px 1px 10px rgba(0,0,0,.64);
    padding: 20px;
    width:50vh;
    height:100vh;
    overflow:scroll;
}

.searchResultsContainer ul {
    list-style: none;
    width:100%;
    padding:0px;
}

.searchResultsContainer li:hover {
    background-color: rgba(0,0,0,.1);
}

.searchResultsContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.info-card {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    margin-bottom: 10px;
}

.info-card-stat {
    font-size: 40px;
}

.heading-card {
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 1px rgba(0,0,0,.24);
    margin-bottom: 10px;
}