/* COLOR SCHEME USED */
/* Blue: #3993DD */
/* Red: #c1181f */

main {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 700px;
    font-size: 14px;
}

img {
    border-radius: 3px;
    width:100%;
}

.party-icon-D {
    background-color: #3993DD;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    width:10px;
    height:10px;
}

.party-icon-R {
    background-color: #c1181f;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    width:10px;
    height:10px;
}

.party-icon-I {
    background-color: green;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    width:10px;
    height:10px;
}

.loader-container {
    height: 100vh;
}

.home-banner h1 {
    font-size: 50px;
}

.party-D {
    border-top: 5px solid #3993DD;
}

.party-R {
    border-top: 5px solid #c1181f;
}
.container {
    padding: 0px 10px;
}

.login-container {
    text-align: left;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(0,0,0,.64);
    margin: 100px auto;
}

.login-container input {
    margin-bottom:20px;
}

.padded {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-bar {
    box-shadow: 0px 1px 1px rgba(0,0,0,.64);
    background-color: #3993DD;
    height: 40px;
    margin-top: 0px;
    list-style: none;
    padding: 0px;
    font-size:16px;
}

.nav-right {
    float: right;
}

.nav-item {
    color: white;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    padding: 0px 15px;
}

.nav-item img {
    max-width: 30px;
    vertical-align: middle;
}

h1 {
    font-weight: 500;
}
h2 {
    font-weight: 300;
    margin: 0px;
}

h3, h4, h5, h6 {
    font-weight: 200;
    margin: 0px;
}

p, span {
    margin: 0px 0px;
}

a{
    text-decoration: none;
    color: rgb(44, 107, 155);
}

a:visited {
    color:rgb(44, 107, 155);
}


video {
    border: 1px solid rgba(0, 0, 0, .24);   
    margin: 5px 0px;
}

.profileImage{
    width: 100%;
    max-width: 300px;
}


.list-group{
    list-style: none;
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 5px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.list-item {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0px;
}

table{
    width: 100%;
    text-align: left;
    padding: 10px;    
    border-collapse: collapse;
    border-spacing: 0;
}

td{
    margin: 0px 0px;
}

tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.vote-list{
    padding:5px;
}


.commentContainer{
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px 0px;
    border-top: 5px solid rgba(0,0,0,.64);
}

.commentContainer input{
    -webkit-appearance: radio;
    box-shadow: none;
}

.comment-list{
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    border-top: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 5px 0px;
}

.comment-position-support {
    border-left: 5px solid rgba(0, 128, 0, 0.562);
}

.comment-position-oppose {
    border-left: 5px solid rgba(255, 0, 0, 0.596);
}

.comment-position-undecided {
    border-left: 5px solid rgba(0,0,0,.24);
}

.comment-position- {
    border-left: 5px solid rgba(0,0,0,.24);
}

.commentProfileImage{
    width:50px;
}

.comment-video{
    max-width: 300px;
    border-radius: 3px;
}

.comment-content{
    padding: 5px;
}

.comment-button-bar {
    padding: 5px;
    background-color: rgba(0,0,0,.05);
    min-height:30px;
}

textarea{
    width:95%;
    max-width: 95%;
    border: 1px solid rgba(0,0,0,.1);
    resize: none
}

.searchResultsContainer{
    position: fixed;
    background-color: #FFFFFF;
    top:0;
    right: 0;
    box-shadow: -1px 1px 10px rgba(0,0,0,.64);
    padding: 20px;
    width:50vh;
    height:100vh;
    overflow:scroll;
}

.searchResultsContainer ul {
    list-style: none;
    width:100%;
    padding:0px;
}

.searchResultsContainer li:hover {
    background-color: rgba(0,0,0,.1);
}

.searchResultsContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.info-card {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0,0,0,.24);
    margin-bottom: 10px;
}

.info-card-stat {
    font-size: 40px;
}

.heading-card {
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 1px rgba(0,0,0,.24);
    margin-bottom: 10px;
}

.searchResultsContainer h3 {
    display: inline-block
}

.searchResultsContainer img {
    display: inline-block;
    max-width: 50px;
    vertical-align: middle;
}

input {
    -webkit-appearance: none;
    border: 1px rgba(0,0,0,.24);
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(0,0,0,.64);
}

button {
    -webkit-appearance: none;
    color: rgba(0,0,0,.8);
    font-size: 14px;
    border: 1px rgba(0,0,0,.24);
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(0,0,0,.64);
    margin: 0px 3px;
    font-weight: 700;
}

.edit-bar {
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    margin-bottom: 16px;
}
.edit-bar button{
    margin: 16px 10px;
}

.support-text {
    color: rgb(40, 212, 40)
}

.oppose-text {
    color: red
}

.home-map {
    margin-bottom: 50px;
}

.home-map path {
    transition: fill linear 1s;
    fill-opacity: 0.5;
}

.home-map path:hover{
    fill-opacity: 1;
    cursor: pointer;
}