<div class="nav">
    <ul class="nav-bar">
        <a ng-href="/#!/home"><li class="nav-item">Table Topics</li></a>
        <div class="nav-right">
            <li class="nav-item">
                <input type="text" ng-model="vm.searchTerm">
                <button ng-click="vm.search()">Search</button>
            </li>
            <a ng-href="/#!/register" ng-show="!vm.userObject.userName"><li class="nav-item">LOGIN</li></a>
            <a ng-href="/#!/profile" ng-show="vm.userObject.userName">
                <li class="nav-item">
                    <img ng-src="{{vm.userObject.profileImage}}" alt="Profile Image">
                    {{vm.userObject.userName}}
                </li>
            </a>
    </div>
    </ul>
    <div ng-show="vm.displaySearchResults" class="searchResultsContainer">
        <div>
            <h2 style="display:inline-block">Search Results</h2>
            <button ng-click="vm.closeSearchResults()" style="float:right">Close</button>
            <p ng-show="vm.bills">Found {{vm.bills.length || 0}} search results</p>
        </div>
        <ul>
            <li ng-repeat="bill in vm.bills" class="list-item">
                <a ng-href="/#!/bill-detail/{{bill.bill_slug}}/{{bill.bill_id.split('-')[1]}}" ng-click="vm.displaySearchResults = false">
                    <h3><strong>{{bill.bill_id | uppercase}}</strong></h3>
                    {{bill.title || bill.summary_short}}
                </a>
            </li>
        </ul>
    </div>
</div>