<div class="nav">
    <ul class="nav-bar">
        <a ng-href="/#!/home"><li class="nav-item">HOME</li></a>
        <a ng-href="/#!/bill"><li class="nav-item">BILLS</li></a>
        <div class="nav-right">
            <li class="nav-item">
                <input type="text">
                <button>Search</button>
            </li>
            <a ng-href="/#!/register" ng-show="!vm.userObject.userName"><li class="nav-item">LOGIN</li></a>
            <a ng-href="/#!/profile" ng-show="vm.userObject.userName">
                <li class="nav-item">
                    <img ng-src="{{vm.userObject.profileImage}}" alt="Profile Image">
                    {{vm.userObject.userName}}
                </li>
            </a>
    </div>
    </ul>
</div>