<div ng-cloak class="container">
    <div layout="column">
        <h2>Recent Votes</h2>
        <div ng-repeat="bill in vm.bills.votes" layout-gt-xs="row">
            <div flex="10">{{bill.date}}</div>
            <div flex="60">              
                {{bill.description}}
                <p ng-show={{bill.bill}}>
                    <a 
                    ng-href="/#!/votes/{{bill.congress}}/{{bill.chamber}}/{{bill.session}}/{{bill.roll_call}}">
                    {{bill.bill.bill_id | uppercase}}</a></p>
                <p ng-show={{bill.nomination}}><a ng-href="">{{bill.nomination.nomination_id | uppercase}}</a></p>      
            </div>
            <div flex="30">
                <table>
                    <tr>
                        <th>Party</th>
                        <th>Yes</th>
                        <th>No</th>
                        <th>No Vote</th>
                        <th>Party Position</th>
                    </tr>
                    <tr>
                        <td>R</td>
                        <td>{{bill.republican.yes}}</td>
                        <td>{{bill.republican.no}}</td>
                        <td>{{bill.republican.not_voting}}</td>
                        <td>{{bill.republican.majority_position}}</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>{{bill.democratic.yes}}</td>
                        <td>{{bill.democratic.no}}</td>
                        <td>{{bill.democratic.not_voting}}</td>
                        <td>{{bill.democratic.majority_position}}</td>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>{{bill.independent.yes}}</td>
                        <td>{{bill.independent.no}}</td>
                        <td>{{bill.independent.not_voting}}</td>
                        <td>{{bill.independent.majority_position}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>