<div ng-cloak class="container">
    <div class="heading-card">
        <h1>
            <a ng-href="{{vm.bill.bill.govtrack_url}}">{{vm.bill.bill.bill}}</a>
        </h1>
        <p>{{vm.bill.title}}</p>
        <br>
        <div ng-show="vm.bill.bill.summary">
            <h2>Bill Description</h2>
            <p>{{vm.bill.bill.summary}}</p>
        </div>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div class="padded" flex-gt-sm="75">
            <div class="commentContainer" ng-show="vm.userObject.id">
                <div>
                    <div>
                        <h2>Post Comment</h2>
                        <textarea ng-model="vm.commentToAdd.comment" rows="3" placeholder="Share your opinion..."></textarea>
                        <div ng-show="vm.commentToAdd.video">
                            <video class="comment-video" id="videoPlayer" autoplay muted></video>
                            <div layout="row" layout-align="start start">
                                <button ng-click="vm.startRecording()" ng-show="!vm.video.recording" id="record">Record</button>
                                <button ng-click="vm.stopRecording()" ng-show="vm.video.recording" id="stop">Stop Recording</button>
                                <button ng-click="vm.play()" id="play" ng-disabled="!vm.video.videoAvailable">Play</button>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center">
                            <input type="radio" ng-model="vm.commentToAdd.position" name="position" value="support">Support
                            <input type="radio" ng-model="vm.commentToAdd.position" name="position" value="oppose">Oppose
                            <input type="radio" ng-model="vm.commentToAdd.position" name="position" value="undecided">Undecided
                        </div>
                    </div>
                    <md-switch class="md-primary" md-no-ink aria-label="Include Video Switch" ng-model="vm.commentToAdd.video" ng-click="vm.accessCamera()">
                        Include Video
                    </md-switch>
                </div>
                <button ng-click="vm.validateSubmission()">Submit Comment</button>
            </div>
            <div ng-show="vm.comments.data.length > 0">
                <h2>Comments</h2>
                <div class="comment-list" ng-repeat="comment in vm.comments.data">
                    <div class="comment-content" layout="row">
                        <div flex="10">
                                <a ng-href="/#!/user/{{comment.username}}"><img ng-src="{{comment.userProfileImage}}" class="commentProfileImage" alt="Profile photo"></a>
                        </div>
                        <div layout="column" flex>
                            <div flex class="comment-user">
                                <span>Posted by <a ng-href="/#!/user/{{comment.username}}">{{comment.username}}</a> on {{comment.date | date}}</span>
                            </div>
                            <div layout="column">
                                <p>{{comment.comment}}</p>
                                <video class="comment-video" ng-show="comment.url" ng-src="{{comment.url}}" controls></video>
                            </div>
                        </div>
                    </div>

                    <div class="comment-button-bar" layout="row">
                        <div flex>
                            This comment has {{comment.likes || 0}} likes.
                        </div>
                        <div flex layout="row" layout-align="end center">
                                <button ng-show="vm.userObject.id" ng-click="vm.likeComment(comment)">Like</button>
                                <button ng-show="vm.userObject.id === comment.user" ng-click="vm.deleteComment(comment)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padded" flex-gt-sm="25">
            <div layout="column">
                <div flex class="list-group">
                    <div class="list-item">
                        <h3>Subject</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.bill.bill.primary_subject}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3>Introduced</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.bill.bill.introduced_date | date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                            <h3>Latest Vote</h3>
                            <div>
                                <div layout="column">
                                    <a ng-href="/#!/votes/{{vm.bill.bill.congress}}/{{vm.bill.bill.votes[0].chamber}}/1/{{vm.bill.bill.votes[0].roll_call}}">
                                        <p>{{vm.bill.bill.votes[0].question}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <div class="list-item">
                        <h3>Latest Major Action</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.bill.bill.latest_major_action_date | date}}: {{vm.bill.bill.latest_major_action}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3>Bill Sponsor</h3>
                        <div>
                            <div layout="column">
                                <a ng-href="/#!/member/{{vm.bill.bill.sponsor_id}}">
                                    <p>{{vm.bill.bill.sponsor_title}} {{vm.bill.bill.sponsor}}, {{vm.bill.bill.sponsor_party}} - {{vm.bill.bill.sponsor_state}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="list-item" ng-show="vm.bill.cosponsors.cosponsors">
                        <h3>Co-sponsors</h3>
                        <div ng-repeat="member in vm.bill.cosponsors.cosponsors">
                            <div layout="column">
                                <a ng-href="/#!/member/{{member.cosponsor_id}}">
                                    <p>{{member.cosponsor_title}} {{member.name}}, {{member.cosponsor_party}} - {{member.cosponsor_state}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>