<div ng-cloak class="container">
    <div layout="column">
        <div>
            <h1><div class="party-icon-{{vm.memberInfo.member.current_party}}"></div> {{vm.memberInfo.member.first_name}} {{vm.memberInfo.member.middle_name}} {{vm.memberInfo.member.last_name}} ({{vm.memberInfo.member.current_party}})
                - {{vm.memberInfo.member.roles[0].state}}</h1>
        </div>
    </div>
    <div layout="row">
        <div flex-gt-sm="25" class="padded">
            <div layout="column">
                <div flex>
                    <img ng-src="https://theunitedstates.io/images/congress/225x275/{{vm.memberInfo.member.member_id}}.jpg" alt="Image of {{vm.memberInfo.member.first_name}} {{vm.memberInfo.member.middle_name}} {{vm.memberInfo.member.last_name}}">
                    <div class="list-group">
                        <div class="list-item">
                            <h3>Chamber</h3>
                            <div>
                                <div layout="column">
                                    <p>{{vm.memberInfo.member.roles[0].chamber}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <h3>State</h3>
                            <div>
                                <div layout="column">
                                    <p>{{vm.memberInfo.member.roles[0].state}}
                                        <span ng-show="vm.memberInfo.member.roles[0].district">- District {{vm.memberInfo.member.roles[0].district}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <h3>Role</h3>
                            <div>
                                <div layout="column">
                                    <p>{{vm.memberInfo.member.roles[0].title}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <h3>Current Term</h3>
                            <div>
                                <div layout="column">
                                    <p>Started on {{vm.memberInfo.member.roles[0].start_date| date}} and ends {{vm.memberInfo.member.roles[0].end_date
                                        | date}}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <h3>Contact</h3>
                            <div>
                                <div layout="column">
                                    <a ng-href="{{vm.memberInfo.member.url}}">
                                        <p>Website</p>
                                    </a>
                                    <a ng-href="https://twitter.com/{{vm.memberInfo.member.twitter_account}}">
                                        <p>Twitter</p>
                                    </a>
                                    <a ng-href="https://facebook.com/{{vm.memberInfo.member.facebook_account}}">
                                        <p>Facebook</p>
                                    </a>
                                    <a ng-href="https://youtube.com/{{vm.memberInfo.member.youtube_account}}">
                                        <p>Youtube</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="column" flex="50" class="padded">
            <div layout="column" class="info-card party-{{vm.memberInfo.member.current_party}}">
                <div layout="row">
                    <div flex>
                        <h2>Bills Sponsored</h2>
                        <p class="info-card-stat">{{vm.memberInfo.member.roles[0].bills_sponsored}}</p>
                    </div>
                    <div flex>
                            <h2>Bills Co-sponsored</h2>
                            <p class="info-card-stat">{{vm.memberInfo.member.roles[0].bills_cosponsored}}</p>
                        </div>
                </div>
                <div layout="row">
                    <div flex>
                        <h2>Votes with party</h2>
                        <p class="info-card-stat">{{vm.memberInfo.member.roles[0].votes_with_party_pct | number: 1}}%</p>
                    </div>
                    <div flex>
                            <h2>Vote Attendance</h2>
                            <p class="info-card-stat">{{100 - vm.memberInfo.member.roles[0].missed_votes_pct | number: 1}}%</p>
                        </div>
                </div>
            </div>
            <div flex>
                <div ng-show="vm.userObject.userName" class="commentContainer">
                    <div>
                        <div>
                            <h2>Post Comment</h2>
                            <textarea ng-model="vm.commentToAdd.comment" rows="3" placeholder="Share your opinion..."></textarea>
                            <div ng-show="vm.commentToAdd.video">
                                <video class="comment-video" id="videoPlayer" autoplay muted></video>
                                <div layout="row" layout-align="start start">
                                    <button ng-click="vm.startRecording()" ng-show="!vm.video.recording" id="record">Record</button>
                                    <button ng-click="vm.stopRecording()" ng-show="vm.video.recording" id="stop">Stop Recording</button>
                                    <button ng-click="vm.play()" id="play" ng-disabled="!vm.video.videoAvailable">Play</button>
                                </div>
                            </div>
                        </div>
                        <md-switch class="md-primary" md-no-ink aria-label="Include Video Switch" ng-model="vm.commentToAdd.video" ng-click="vm.accessCamera()">
                            Include Video
                        </md-switch>
                    </div>
                    <button ng-click="vm.validateSubmission()">Submit Comment</button>
                </div>
                <div ng-show="vm.comments.data.length > 0">
                    <h2>Comments</h2>
                    <div class="comment-list" ng-repeat="comment in vm.comments.data">
                        <div class="comment-content" layout="row">
                            <div flex="10">
                                <a ng-href="/#!/user/{{comment.username}}">
                                    <img ng-src="{{comment.userProfileImage}}" class="commentProfileImage" alt="Profile photo">
                                </a>
                            </div>
                            <div layout="column" flex>
                                <div flex class="comment-user">
                                    <span>Posted by
                                        <a ng-href="/#!/user/{{comment.username}}">{{comment.username}}</a> on {{comment.date | date}}</span>
                                </div>
                                <div layout="column">
                                    <p>{{comment.comment}}</p>
                                    <video class="comment-video" ng-show="comment.url" ng-src="{{comment.url}}" controls></video>
                                </div>
                            </div>
                        </div>

                        <div class="comment-button-bar" layout="row">
                            <div flex>
                                This comment has {{comment.likes || 0}} likes.
                            </div>
                            <div flex layout="row" layout-align="end center">
                                <button ng-show="vm.userObject.id" ng-click="vm.likeComment(comment)">Like</button>
                                <a href="https://twitter.com/intent/tweet?screen_name={{vm.memberInfo.member.twitter_account}}&text={{comment.comment}}" class="twitter-mention-button" data-show-count="false"><button>Tweet</button></a>
                                <button ng-show="vm.userObject.id === comment.user" ng-click="vm.deleteComment(comment)">Delete</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div flex>
            <h2>Recent Votes</h2>
            <div class="vote-list">
                <div class="comment-list" ng-repeat="vote in vm.memberInfo.votes.votes">
                    <div class="comment-content" layout="row">
                        <div>
                            <a ng-show="vote.bill.bill_uri" ng-href="/#!/bill-detail/{{vote.bill.bill_id.split('-')[0]}}/{{vote.congress}}">{{vote.bill.bill_id | uppercase}}</a>
                            <p ng-show="vote.description">{{vote.description}}</p>
                        </div>
                    </div>
                    <div class="comment-button-bar" layout="row">
                        <div flex>
                            <p>
                                <strong>Voted</strong>
                            </p>
                            {{vote.position}}
                        </div>
                        <div flex>
                            <p>
                                <strong>Result</strong>
                            </p>
                            <a href="/#!/votes/{{vote.congress}}/{{vote.chamber}}/{{vote.session}}/{{vote.roll_call}}">{{vote.result}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>