<div ng-cloak class="container">
    {{vm.userObject}}
    <div layout="row">
        <md-switch flex layout-align="end center" ng-show="vm.userObject" class="md-primary" ng-model="vm.editing" md-no-ink aria-label="Edit Profile Switch">Edit Profile</md-switch>
    </div>
    <md-card>
        <md-card-content ng-show="!vm.editing" layout="row" layout-align="space-between">
            <div class="md-media-xl card-media">
                <img class="profileImage" ng-src="{{vm.userObject.profileImage}}" alt="Profile Image">
            </div>
            <md-card-title layout="column">
                <md-card-title-text>
                    <span class="md-headline">{{vm.userObject.userName}}</span>
                    <span class="md-subhead">Location: {{vm.userObject.location}}</span>
                    <span class="md-subhead">Joined: {{vm.userObject.date | date}}</span>
                    <span class="md-subhead">About: {{vm.userObject.about}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card-content>
        <md-card-content ng-show="vm.editing" layout="row" layout-align="space-between">
            <div class="md-media-xl card-media">
                <img class="profileImage" ng-src="{{vm.userObject.profileImage}}" alt="Profile Image">
                <md-input-container layout="row">
                    <input flex type="file" id="imageUpload">
                    <md-button flex md-no-ink class="md-primary" ng-click="vm.uploadImageToAmazon()">Upload Image</md-button>
                </md-input-container>
            </div>
            <md-card-title layout="column">
                <span class="md-headline">{{vm.userObject.userName}}</span>
                <md-input-container class="md-block">
                    <label>Location</label>
                    <input ng-model="vm.userObject.location">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>About:</label>
                    <input ng-model="vm.userObject.about">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="vm.updateProfile()" class="md-primary">Save Changes</md-button>
            </md-card-title>
        </md-card-content>
    </md-card>



    <div layout="row">
        <div flex="50">
            <h3>Topics:</h3>
            <md-card ng-repeat="topic in vm.topics">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{topic.title}}</span>
                        <span class="md-subhead">{{topic.description}}</span>
                        <span class="md-subhead">{{topic.tags}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <video ng-show="topic.url" ng-src={{topic.url}} style="max-width: 150px; height: auto; border-radius: 5px;"></video>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end end">
                    <md-button href="/#!/topic/{{topic._id}}">View Topic</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex>
            <h3>Responses:</h3>
            <md-card ng-repeat="comment in vm.comments">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{comment.topicTitle}}</span>
                        <span class="md-subhead">{{comment.comment}}</span>
                        <span class="md-subhead">{{comment.date | date}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <video ng-show="topic.url" ng-src={{topic.url}} style="max-width: 150px; height: auto; border-radius: 5px;"></video>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end end">
                    <md-button href="/#!/topic/{{topic._id}}">View Topic</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>