<div ng-cloak>
    <div layout="column">
            <md-content flex layout-padding>
                <form name="topicForm">
                    <md-input-container class="md-block">
                        <label>Topic Title</label>
                        <input ng-model="vm.topicToUpload.title">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="vm.topicToUpload.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Tags</label>
                        <input ng-model="vm.topicToUpload.tags">
                    </md-input-container>

                    <div>
                        <md-switch class="md-primary" md-no-ink aria-label="Include Video Switch" ng-model="vm.topicToUpload.includeVideo">
                                Include Video
                        </md-switch>
                        <md-radio-group layout="row" layout-align="start center" ng-model="vm.topicToUpload.videoType" ng-show="vm.topicToUpload.includeVideo" class="md-primary">
                                <md-radio-button ng-click="vm.accessCamera()" value="camera">Camera</md-radio-button>
                                <md-radio-button ng-click="vm.accessScreen()" value="screen">Screen Capture</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div ng-show="vm.topicToUpload.includeVideo && vm.topicToUpload.videoType">
                        <video width="400" height="auto" id="videoPlayer" autoplay muted></video>
                        <div layout="row" layout-align="start start">
                            <md-button class="md-raised md-warn" ng-click="vm.recordType()" ng-show="!vm.recording" id="record">Record</md-button>
                            <md-button class="md-raised" ng-click="vm.stopRecording()" ng-show="vm.recording" id="stop">Stop Recording</md-button>
                            <md-button class="md-raised md-primary" ng-click="vm.play()" id="play" ng-disabled="!vm.videoAvailable" >Play</md-button>
                        </div>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="vm.validateSubmission()" class="md-primary">Submit Topic</md-button>
                </form>
            </md-content>
    </div>
</div>

