<div ng-cloak class="container">
    <div class="login-container">
    <div ng-show="vm.userObject.userName">
        <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
        <button class="btn btn-default" ng-click="vm.logout()">Log Out</button>
    </div>
    <form ng-submit="vm.login()" ng-show="!vm.userObject.userName && !vm.register">
        <h2>Login</h2>
        <br><br>
        <div>
            <p>Username:</p>
            <input type="text" ng-model="vm.user.username" />
            <br>
        </div>
        <div>
            <p for="password">Password:</p>
            <input type="password" ng-model="vm.user.password" />
            <br>
        </div>
        <div>
            <input class="btn btn-default" type="submit" name="submit" value="Log In" />
        </div>
        <a class="btn btn-default" href="" type="submit" ng-click="vm.registerClick()">Create an account</a>
    </form>
    <form ng-submit="vm.registerUser()" ng-show="vm.register">
        <h2 class="lead">Register User</h2>
        <br><br>
        <div>
            <p for="username">Username:</p>
            <input type="text" ng-model="vm.user.username" />
            <br>
        </div>
        <div>
            <p for="password">Password:</p>
            <input type="password" ng-model="vm.user.password" />
            <br>
        </div>
        <input class="btn btn-default" type="submit" name="submit" value="Register" />
        <a class="btn btn-default" href="" type="submit" ng-click="vm.registerClick()">Return to login</a>
    </form>
</div>
</div>