<div ng-cloak class="container">
    <div layout="row">
        <div flex="25" lass="padded">
            <div ng-show="!vm.editing" layout="column">
                <img class="profileImage" ng-src="{{vm.userObject.profileImage}}" alt="Profile Image">
                <div class="list-group">
                    <div class="list-item">
                        <h3>Username</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.user.userName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3>State</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.user.location}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3>Joined</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.user.date | date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3>About</h3>
                        <div>
                            <div layout="column">
                                <p>{{vm.user.about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>